/* Added color variables. - Magerick */
:root {
  --blue: #0028a0;
  --chrome: #4060a0;
  --dark: #101520;
  --cype: #ffd1a4;
  --cypeD: #c08040;
  --green: #40C080;
}

body {
  background-color: var(--cypeD);
  /* background-color:rgba(255, 209, 164); */
  text-align: center;
}

h1:not(:hover) {
  -webkit-animation-name: wiggle;
    animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 1000ms;
    animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
}

@-webkit-keyframes wiggle {
  0% {-webkit-transform: rotate(10deg);}
  25% {-webkit-transform: rotate(-10deg);}
  50% {-webkit-transform: rotate(20deg);}
  75% {-webkit-transform: rotate(-5deg);}
  100% {-webkit-transform: rotate(0deg);}
}

@-ms-keyframes wiggle {
  0% {-ms-transform: rotate(1deg);}
  25% {-ms-transform: rotate(-1deg);}
  50% {-ms-transform: rotate(1.5deg);}
  75% {-ms-transform: rotate(-5deg);}
  100% {-ms-transform: rotate(0deg);}
}

@keyframes wiggle {
  0% {transform: rotate(10deg);}
  25% {transform: rotate(-10deg);}
  50% {transform: rotate(20deg);}
  75% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}

/* h1 
Added margin-top/bottom to remove the empty 
space in the center of the screen. - Magerick */
h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-inline: auto; 
  margin-top: -20px;
  margin-bottom: -10px; 
  font-size: 250px;
  animation: wiggle 2.5s infinite;
  font-family: 'Creepster', cursive;
}

/* Modal Button - Magerick */
.modal-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;  
/* Added button style and margin-bottom. - Magerick */
  margin-inline: auto;
  margin-bottom: 10px;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: 5px solid var(--dark);
  background-color: var(--dark);
  color: var(--green);
  font-size: 20px;
  font-family: papyrus;
}

/* Fetch Data Button. Adding some style. 
Added padding. - Magerick */
.fetchdatabutton {
  border-radius: 10px;
  border: 5px solid var(--dark);
  background-color: var(--dark);
  color: var(--cypeD);
  font-size: 30px;
  font-style: oblique;
  font-weight: bolder;
  font-family: papyrus;
  padding: 10px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    /* Added margin-top. Changed it to 60px. - Magerick */
    margin-top: 8px;
    padding: 10px;
    border: 1px solid #888;
    /* Changed width to 33% - Magerick */
    width: 33%; /* Could be more or less, depending on screen size */
    /* Added some font style to Mr. Skelly Bones.
    Downsized the font. - Magerick */
    font-family: papyrus;
    font-size: 30px;
    font-style: oblique;
    font-weight: bolder;
  }

/* Reduced the font size. - Magerick */
  .description {
    font-size: 15px;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  padding: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  /* Reduced the font size and added italics. - Magerick */
  font-size: 30px;
  font-style: italic;
}

.result2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  padding: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-style: italic;
} 