/* Added color variables. - Magerick */
:root {
  --chrome: #4060a0;
  --dark: #101520;
  --red: #c04040;
  --redD: #a01010;
  --cype: #c08040;
  --cypeD: #a02010;
  --zure: #4080c0;
  --zureD: #1020a0;
  --blue: #4040a0;
  --blueD: #1010a0;
  --black: #000;
  --darkred: #580000;
  --darkgrey: #3A3A3A;
  --darkestgrey: #1F1F1F;
}

body {
  background-color: var(--black);
  /* background-color:rgba(255, 209, 164); */
  text-align: center;
}

@keyframes pulsate {
  100% {
    text-shadow:
    0 0 4px var(--cype),
    0 0 11px var(--cype),
    0 0 19px var(--cype),
    0 0 40px var(--redD),
    0 0 80px var(--redD),
    0 0 90px var(--redD),
    0 0 100px var(--redD),
    0 0 150px var(--redD);
  }
  0% {
   text-shadow:
    0 0 2px var(--cypeD),
    0 0 4px var(--cypeD),
    0 0 6px var(--cypeD),
    0 0 10px var(--redD),
    0 0 45px var(--redD),
    0 0 55px var(--redD),
    0 0 70px var(--redD),
    0 0 80px var(--redD);
 }
}
.savelist {
  color: white;
}
.header {
  animation: pulsate 2.0s infinite alternate;
}

h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-inline: auto; 
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 160px; 
  color: var(--redD);
  font-size: 200px;
  letter-spacing: 20px;
  font-family: 'Creepster', cursive;
}

/* Added the Pumpkin Ghost styles. 
Source: Me lmao. - Magerick */
.ghost {
  width: 150px;
  height: 200px;
}

/* Modal Button */
.modal-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;  
  margin-inline: auto;
  margin-top: 40px;
  margin-bottom: -10px;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  border: 5px solid var(--dark);
  background-color: var(--dark);
  color: var(--cype);
  font-size: 20px;
  font-family: papyrus;
  transition-duration: 0.5s;
  box-shadow: 0 8px var(--cypeD);
  cursor: pointer;
}

/* Added some hover animation. - Magerick */
.modal-button:hover {
  color: var(--cypeD);
  background-color: var(--dark);
  box-shadow:0 5px var(--redD);
  transform: translateY(5px);
}

/* Added */
.savelist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: var(--cype);
  border-radius: 5px;
  border: 2px dashed var(--darkred);

}



.save-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;  
  margin-inline: auto;
  margin-top: 40px;
  margin-bottom: -10px;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  border: 5px solid var(--dark);
  background-color: var(--dark);
  color: var(--cype);
  font-size: 20px;
  font-family: papyrus;
  transition-duration: 0.5s;
  box-shadow: 0 8px var(--cypeD);
  cursor: pointer;
}

/* Fetch Data Button. Adding some style. 
Added padding. - Magerick */
.fetchdatabutton {
  border-radius: 10px;
  border: 5px solid var(--dark);
  background-color: var(--dark);
  color: var(--cype);
  font-size: 30px;
  font-style: oblique;
  font-weight: bolder;
  font-family: papyrus;
  padding: 10px;
  /* Added a transition duration for the hover. 
  Added a box-shadow and cursor pointer. 
  Added margin-bottom - Magerick */
  transition-duration: 0.5s;
  box-shadow: 0 8px var(--cypeD);
  cursor: pointer;
  margin-bottom: 20px;
}

/* Added some hover animation. - Magerick */
.fetchdatabutton:hover {
  color: var(--cypeD);
  background-color: var(--dark);
  box-shadow:0 5px var(--redD);
  transform: translateY(5px);
}

/* Added .dance to make the skeleton dance gif inline with the page. - Magerick 
Source:
https://giphy.com/gifs/dance-halloween-twerk-3ohhwfAa9rbXaZe86c?utm_source=iframe&utm_medium=embed&utm_campaign=Embeds&utm_term=https%3A%2F%2Fqueens.safeandreliable.care%2F */
.dance {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
  padding: 10px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    margin-top: 8px;
    padding: 10px;
    border: 1px solid #888;
    width: 33%; /* Could be more or less, depending on screen size */
    font-family: papyrus;
    font-size: 30px;
    font-style: oblique;
    font-weight: bolder;
    /* Added modal background styles. - Magerick */
    background-color: var(--dark);
    border-radius: 10px;
    color: var(--chrome);
    text-shadow: 1px 1px var(--blueD);
  }

  .description {
    font-size: 20px;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  padding: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 30px;
  font-style: italic;
  color: var(--cype);
}

.result2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  padding: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-style: italic;
  color: var(--cype);
} 

/* Cloned the other .result styles into .result3. - Magerick */
.result3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  padding: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-style: italic;
  color: var(--cype);
}

@media all and (display-mode: fullscreen) {
  body {
    size: 100%;
  
  }

}